
  <form>
    <div class="form-group">
        <p style="text-align:center"><label>Lab 3: The website is under maintenance</label></p>
      <hr/>
      <br />
      <label>Description: For some reason, the admin is updating the website, and you cannot access the content. But you are curious about the previous content before the maintenance.</label>
      <br />
      
      <button type="button" class="btn btn-danger" data-toggle="popover" title="Hint"  (click)="showTip()">Hint</button>
      <div class="alert alert-info" style="margin-top: 10px;" *ngIf="tip">
        <strong>Hint: </strong> Look into the code, how do you bypass the validation and get the content you want? Try to use a little feature of javascript.
      </div>
      <hr/>
      <div class="panel panel-primary">
        <div class="panel-heading">Announcement:</div>
        <div class="panel-body">{{content}}</div>
      </div>
    </div>

  </form>