
  <form>
    <div class="form-group">
        <p style="text-align:center"><label>Lab 2: Premium content</label></p>
      <hr/>
      <br />
      <label>Description: You need to purchase a Premium account, or you cannot access the content. Please bypass the validation.</label>
      <p>The administrator will manually add the username and corresponding activation code in the database only after being paid. The users that do not purchase the Premium version will not be stored in the database with activation codes.</p>
      <br />
      
      <button type="button" class="btn btn-danger" data-toggle="popover" title="Hint"  (click)="showTip()">Hint</button>
      <div class="alert alert-info" style="margin-top: 10px;" *ngIf="tip">
        <strong>Hint:</strong> How is the premium account activated?
      </div>
      <hr/>
      <label>You cannot access the premium content, please enter your activation code.</label>
      <label for="vipCode">Activation code</label>
      <input type="text" [(ngModel)]="vipCode" name="vipCode" class="form-control" id="vipCode" aria-describedby="vipCode" placeholder="Please enter your activation code">
      <br />
      <button type="submit" class="btn btn-success" (click)="unlock()" style="margin-right: 5px;">Activate and View</button>
      <br />
      <br />
      <div class="panel panel-primary">
        <div class="panel-heading">PREMIUM CONTENT:(View after upgrading)</div>
        <div class="panel-body" *ngFor="let s of status">{{s}}</div>
      </div>
    </div>

  </form>