
  <form>
    <div class="form-group">
        <p style="text-align:center"><label>Lab 4: Voting System</label></p>
      <hr/>
      <br />
      <label>Description: Today is our third-year company aniversary, we are picking the most voted-for employee to give a prize. </label>
      <p><strong>Your friend Bob is in last place, he wants to win a prize, can you help him?</strong></p>
    <p style="color:deeppink">Try to use a feature of Node.Js language to pass this level</p>
      <br />
      
      <button type="button" class="btn btn-danger" data-toggle="popover" title="Hint"  (click)="showTip()">Hint</button>
      <div class="alert alert-info" style="margin-top: 10px;" *ngIf="tip">
        <strong>Hint: </strong> How are the votes counted?
      </div>
      <hr/>
      <div class="container">
        <h2>Results:</h2>
        <p>Everyone can vote twice, after re-logging into the system, you can vote again.</p>            
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of content | keyvalue">
              <td>{{item.key}}</td>
              <td>{{item.value}}</td>
              <button class="btn btn-info" (click)="vote(item.key)" *ngIf="ticket>0">Vote for him/her</button>
              <button class="btn btn-default disabled"  *ngIf="ticket==0">You don't have tickets</button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </form>