 <form>
    <div class="form-group">
        <p style="text-align:center"><label>Lab 6:Joining Cybersecurity Team</label></p>
      <hr/>
      <br />
      <label>Description: The administrator is so annoyed that he organized the activity of Catch the Flag, to choose cybersecurity specialists and help him to find out who attacked the system. You have to get this place so that you can hide..</label>
      <br />
      
      <button type="button" class="btn btn-danger" data-toggle="popover" title="Hint"  (click)="showTip()">Hint</button>
      <div class="alert alert-info" style="margin-top: 10px;" *ngIf="tip">
        <strong>Hint: </strong> Use a special feature of Node.js
      </div>
      <br />
      <pre class="language-js">
      <code >
      {{code}}
      </code>
      </pre>
      <hr/>
    </div>

  </form>