
  <form>
    <div class="form-group">
        <p style="text-align:center"><label>Lab 5: The latest Premium Content</label></p>
      <hr/>
      <br />
      <label>Description: In Lab 2, the premium content was hacked. The administrator was angry, he fixed the bug and believe that there would be no more attacks. Is that true? Please find out the hidden vulnerability.</label>
      <p><strong>Remind: Please restart the whole application after you finish this level, otherwise other labs will be affected.</strong></p>
      <p>The administrator will manually add the username and corresponding activation code in the database only after being paid. The users that do not purchase the Premium version will not be stored in the database with activation codes.</p>
      <br />
      
      <button type="button" class="btn btn-danger" data-toggle="popover" title="Hint"  (click)="showTip()">Hint</button>
      <div class="alert alert-info" style="margin-top: 10px;" *ngIf="tip">
        <strong>Hint: </strong> Please look into where the activation code was checked!
      </div>
      <hr/>
      <label>You haven't activate the premium version, You can enter your activation code to activate it</label>
      <label for="vipCode">Activation code</label>
      <input type="text" [(ngModel)]="vipCode" name="vipCode" class="form-control" id="vipCode" aria-describedby="vipCode" placeholder="Please enter your activation code">
      <br />
      <button type="submit" class="btn btn-success" (click)="unlock()" style="margin-right: 5px;">Activate</button>
      <button type="submit" class="btn btn-success" (click)="viewSecret()" style="margin-right: 5px;">I have activated Premium, click here to view the premium content</button>
      <br />
      <br />
      <div class="panel panel-primary">
        <div class="panel-heading">VIP ACCESS CONTENT:(view it after unlock)</div>
        <div class="panel-body" *ngFor="let s of status">{{s}}</div>
      </div>
    </div>

  </form>