<form>
    <div class="form-group">
        <p style="text-align:center"><label>Initialize the Database</label></p>
        <hr/>
        <br />
        <label>If you are running this for the first time, please click the button below to initialize the database.</label>
        <br />
      <button type="button" class="btn btn-danger" (click)="initial()">Initialize the database</button>
      <br>
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading">Results</div>
        <div class="panel-body">{{result}}</div>
      </div>
    </div>
  </form>