
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="/assets/images/profile.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{username}}
					</div>
					<div class="profile-usertitle-job">
						Basic User
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm" (click)="logout()">Log Out</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a routerLink="/home">
							<i class="glyphicon glyphicon-home"></i>
							Home </a>
						</li>
						<li>
							<a routerLink="/lab1">
							<i class="glyphicon glyphicon-ok"></i>
							Lab 1: Phone call bomber(手机轰炸) </a>
						</li>
						<li>
							<a routerLink="/lab2">
							<i class="glyphicon glyphicon-ok"></i>
							Lab 2: VIP Content(会员内容) </a>
						</li>
						<li>
							<a routerLink="/lab3">
							<i class="glyphicon glyphicon-ok"></i>
							Lab 3: Under Maintenance(版块维护) </a>
						</li>
						<li>
							<a routerLink="/lab4">
							<i class="glyphicon glyphicon-ok"></i>
							Lab 4: Vote(代码之星评选) </a>
						</li>
						<li>
							<a routerLink="/lab5">
							<i class="glyphicon glyphicon-ok"></i>
							Lab 5: Pro Content(加强版会员内容) </a>
						</li>
						<li>
							<a routerLink="/lab6">
							<i class="glyphicon glyphicon-ok"></i>
							Lab 6: CTF(加入网安小组) </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
              <router-outlet></router-outlet>
            </div>
		</div>
	</div>
</div>


<p style="text-align:center"><strong>Powered by <a href="https://github.com/leihehehe" target="_blank">Leihehe</a></strong></p>
<p style="text-align:center"><strong>若第一次运行，请在命令行执行node init.js对数据库进行初始化</strong></p>

<br>
<br>