
  <form>
    <div class="form-group">
        <p style="text-align:center"><label>Lab 1: Call Bomber</label></p>
      <hr/>
      <br />
      <label>Description: This is an Online Call Bomber, please find the file <b>flag1.txt</b> and get its content</label>
      <br />
      
      <button type="button" class="btn btn-danger" data-toggle="popover" title="Hint"  (click)="showTip()">Hint</button>
      <div class="alert alert-info" style="margin-top: 10px;" *ngIf="tip">
        <strong>Hint:</strong> An extra process is running by a socket.
      </div>
      <hr/>
      <label>Call Bomber:</label>
      <label for="phoneNumber">Phone Number</label>
      <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control" id="phoneNumber" aria-describedby="phoneNumber" placeholder="Enter a phone number">
      <small id="emailHelp" class="form-text text-muted">This is the phone number you want to bomb.</small>
      <br />
      <br />
      <button type="submit" class="btn btn-success" (click)="phoneBomb()" style="margin-right: 5px;">Start</button>
      <br />
      <br />
      <div class="panel panel-primary">
        <div class="panel-heading">Progress:</div>
        
        <div class="panel-body" *ngFor="let s of status">{{s}}</div>
      </div>
    
    </div>

  </form>